## 1. Return the letters from the given list which are not in the given string.

1. Create a function that takes a list and string. The function should remove the letters in the string from the list, and return the list.

Examples

remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string") ➞ ["w"]

remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon") ➞ ["b", "g", "w"]

remove_letters(["d", "b", "t", "e", "a", "i"], "edabit") ➞ []

In [1]:
def remove_letters(lst, text):
    res=[]
    char_list = [char for char in text]
    for word in lst:
        if word in char_list:
            char_list.remove(word)
        else:
            res.append(word)
    return res

print(remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string"))
print(remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon"))
print(remove_letters(["d", "b", "t", "e", "a", "i"], "edabit"))

['w']
['b', 'g', 'w']
[]

## 2. Find the numbers of blocks in sequence.

2. A block sequence in three dimensions. We can write a formula for this one:

<a href="https://ibb.co/QbNwSzn"><img src="https://i.ibb.co/yfyjvG5/block-seq.png" alt="block-seq" border="0"></a>

Create a function that takes a number (step) as an argument and returns the amount of blocks in that step.

Examples

blocks(1) ➞ 5

blocks(5) ➞ 39

blocks(2) ➞ 12

In [2]:
# there is pattern in the increasing number of blocks 5 + 7 + 8 + 9 + 10 + ..
# It is just the sum of n consective numbers without the 1,2,3,4, and 6
# 1+2+3+4+6 = 16
# n starts from 5

blocks = lambda n: int(((5+n)*(6+n))/2) - 16

print(blocks(1))
print(blocks(5))
print(blocks(2))

5
39
12

## 3. Subtract the given two numbers without using any arithmetic operators.

3. Create a function that subtracts one positive integer from another, without using any arithmetic operators such as -, %, /, +, etc.

Examples

my_sub(5, 9) ➞ 4

my_sub(10, 30) ➞ 20

my_sub(0, 0) ➞ 0

In [3]:
def my_sub(a, b):
    x = max(a, b)
    y = min(a, b)
    return sum([x, ~y, 1])

print(my_sub(5, 9))
print(my_sub(10, 30))
print(my_sub(0, 0))

4
20
0

## 4. Find the sum of all the bills in dollars.

4. Create a function that takes a string containing money in dollars and pounds sterling (seperated by comma) and returns the sum of dollar bills only, as an integer.

For the input string:

   - Each amount is prefixed by the currency symbol: $ for dollars and £ for pounds.
   - Thousands are represented by the suffix k.

i.e. $4k = $4,000 and £40k = £40,000

Examples

add_bill("d20,p40,p60,d50") ➞ 20 + 50 = 70

add_bill("p30,d20,p60,d150,p360") ➞ 20  + 150 = 170

add_bill("p30,d2k,p60,d200,p360") ➞ 2 * 1000 + 200 = 2200

In [4]:
def add_bill(text):
    res = []
    for i in text.split(','):
        if i[0]=='d':
            if i[-1].lower()=='k':
                res.append(int(i[1:-1])*1000)
            else:
                res.append(int(i[1:]))
    return sum(res)

print(add_bill("d20,p40,p60,d50"))
print(add_bill("p30,d20,p60,d150,p360"))
print(add_bill("p30,d2k,p60,d200,p360"))

70
170
2200

## 5. Flip the given array

5. Create a function that flips a horizontal list into a vertical list, and a vertical list into a horizontal list.

In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list (n rows and 1 column), and vice versa.

Examples

flip_list([1, 2, 3, 4]) ➞ [[1], [2], [3], [4]]
Take a horizontal list and flip it vertical.

flip_list([[5], [6], [9]]) ➞ [5, 6, 9]
Take a vertical list and flip it horizontal.

flip_list([]) ➞ []

In [5]:
def flip_list(lst):
    res = []
    for i in lst:
        if type(i)==list:
            res.append(i[0])
        else:
            res.append([i])
    return res

print(flip_list([1, 2, 3, 4]))
print(flip_list([[5], [6], [9]]))
print(flip_list([]))

[[1], [2], [3], [4]]
[5, 6, 9]
[]